In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
student_marks = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]

In [3]:
student_marks

[34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56]

In [4]:
student_marks_df = pd.DataFrame(student_marks)

In [5]:
student_marks_df

     0
0   34
1   36
2   36
3   38
4   38
5   39
6   39
7   40
8   40
9   41
10  41
11  41
12  41
13  42
14  42
15  45
16  49
17  56

In [6]:
mean_student_marks = student_marks_df.mean()
print('Mean of Student Marks :',mean_student_marks)

Mean of Student Marks : 0    41.0
dtype: float64

In [7]:
median_student_marks = student_marks_df.median()
print('Median of Student Marks :',median_student_marks)

Median of Student Marks : 0    40.5
dtype: float64

In [8]:
var_student_marks = student_marks_df.var()
print('Variance of Student Marks :',var_student_marks)

Variance of Student Marks : 0    25.529412
dtype: float64

In [9]:
std_student_marks = student_marks_df.std()
print('Standard Deviation of Student Marks :',std_student_marks)

Standard Deviation of Student Marks : 0    5.052664
dtype: float64