In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Q9_b.csv')
df.head(20)

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
5            6  113.185353  29.591768
6            7  105.461264  30.308480
7            8  102.598513  15.847758
8            9  102.598513  16.359484
9           10  115.645204  30.920154
10          11  111.185353  29.363341
11          12  117.598513  15.753535
12          13  122.105055  32.813592
13          14  111.185353  29.378436
14          15  108.185353  29.347279
15          16  111.185353  29.604527
16          17  114.369293  29.535784
17          18  117.598513  16.194122
18          19  114.369293  29.929394
19          20  118.472936  33.516974

In [3]:
df.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [4]:
df.kurtosis()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64